{
  "tabWidth": 4,
  "endOfLine": "lf",
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.json", "*.yaml", ".prettierrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
